In [23]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [24]:
col_names = ['species', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex', 'year' ]
pima = pd.read_csv("D:/210968186/penguins.csv", names=col_names)
pima = pima[1:].dropna()
pima = pima.replace(to_replace={'male':1,'female':0})
pima

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
1.0,Adelie,Torgersen,39.1,18.7,181,3750,1,2007
2.0,Adelie,Torgersen,39.5,17.4,186,3800,0,2007
3.0,Adelie,Torgersen,40.3,18,195,3250,0,2007
5.0,Adelie,Torgersen,36.7,19.3,193,3450,0,2007
6.0,Adelie,Torgersen,39.3,20.6,190,3650,1,2007
...,...,...,...,...,...,...,...,...
340.0,Chinstrap,Dream,55.8,19.8,207,4000,1,2009
341.0,Chinstrap,Dream,43.5,18.1,202,3400,0,2009
342.0,Chinstrap,Dream,49.6,18.2,193,3775,1,2009
343.0,Chinstrap,Dream,50.8,19,210,4100,1,2009
344.0,Chinstrap,Dream,50.2,18.7,198,3775,0,2009

In [25]:
X = pima.drop(['body_mass_g','species','island'],axis=1)
Y = pima['body_mass_g']
#y = pima.label 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

In [26]:
clf = DecisionTreeRegressor()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [27]:
print("R2:",metrics.r2_score(y_test, y_pred))

R2: 0.6569578425301994