In [10]:
from sklearn.svm import SVR
import pandas as pd

housing = pd.read_csv("Housing.csv")
housing

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [11]:
housing = housing.replace(to_replace={'yes':1,'no':0,'furnished':2,'unfurnished':0,'semi-furnished':1})
housing

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,0
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,1
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,0
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,2
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,0

In [12]:
housing = housing/housing.max()
X = housing.drop(['price'],axis=1)
Y = housing['price']

In [13]:
X

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,0.458025,0.666667,0.50,0.75,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,1.0
1,0.553086,0.666667,1.00,1.00,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,1.0
2,0.614815,0.500000,0.50,0.50,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,0.5
3,0.462963,0.666667,0.50,0.50,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,1.0
4,0.458025,0.666667,0.25,0.50,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
540,0.185185,0.333333,0.25,0.25,1.0,0.0,1.0,0.0,0.0,0.666667,0.0,0.0
541,0.148148,0.500000,0.25,0.25,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.5
542,0.223457,0.333333,0.25,0.25,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
543,0.179630,0.500000,0.25,0.25,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0
544,0.237654,0.500000,0.25,0.50,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [14]:
Y

0      1.000000
1      0.921053
2      0.921053
3      0.918421
4      0.857895
         ...
540    0.136842
541    0.132868
542    0.131579
543    0.131579
544    0.131579
Name: price, Length: 545, dtype: float64

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

splits = [0.6,0.7,0.8,0.9]

for split in splits:
    X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=1-split)
    regressor = SVR(kernel = 'rbf')
    regressor.fit(X_train,Y_train)

    y_pred = regressor.predict(X_test)
    print("Split size: ",split)
    print("R2 Score: ",r2_score(Y_test,y_pred))

Split size:  0.6
R2 Score:  0.4983953231627364
Split size:  0.7
R2 Score:  0.5559429974440819
Split size:  0.8
R2 Score:  0.6301105417162616
Split size:  0.9
R2 Score:  0.567027644053598