In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
col_names = ['pregnant', 'glucose', 'bp', 'skin', 'insulin', 'bmi', 'pedigree', 'age', 'label']
pima = pd.read_csv("D:/210968186/diabetes.csv", header=None)
pima = pima[1:]
pima

      0    1   2   3    4     5      6   7  8
1     6  148  72  35    0  33.6  0.627  50  1
2     1   85  66  29    0  26.6  0.351  31  0
3     8  183  64   0    0  23.3  0.672  32  1
4     1   89  66  23   94  28.1  0.167  21  0
5     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
764  10  101  76  48  180  32.9  0.171  63  0
765   2  122  70  27    0  36.8   0.34  27  0
766   5  121  72  23  112  26.2  0.245  30  0
767   1  126  60   0    0  30.1  0.349  47  1
768   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [3]:
feature_cols = ['pregnant', 'insulin', 'bmi', 'age','glucose','bp','pedigree']
X = pima.iloc[:,:8]
Y = pima.iloc[:,8:]
#y = pima.label 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1)

In [4]:
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [5]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6926406926406926